<!doctype html>

<html>
<head>
	<title>CancelApt</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/cancelapt.css">
</head>

<body>
	<h2>Select one or more appointments to cancel</h2>
	<form action="">
	<input type="checkbox" name="appointment" value="apt1">Feb 5 Thu  2:00-2:15pm  Professor Scott<br>
	<input type="checkbox" name="appointment" value="apt2">Feb 12 Thu  2:30-2:45pm  Professor Scott
	</form>
	<button id="backstuhome" class="btn" onclick="backshFunc()">Back</button>

	<button id="cancelapt" class="btn" onclick="confirmCancel()">Cancel appointments</button>

	<script src="js/stuFunc.js"></script>

</body>
</html>