<!doctype html>

<html>
<head>
	<title>Buddy System</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/hciproj.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<img src="images/buddysystem.png" class="bsimg" style="background-image:url(images/p-s.png)">
	</div>
	<div class="slidespace">
		<div class="buttons" id ="buttons">
			<button id="student" class="btn">Students</button>
			<br><br>
			<button id="prof" class="btn">Professors</button>
		</div>

		<div class="fields" id="signin">
			<img src="images/arrow-left.png" id="back">
			<form id="inputs"> 
				<label>UCSD e-mail:</label> <input type="text" name="email" id="email" required>
				<br><br>
				<label>PID:</label><input type="password" name="pid" id="pid" required>
				<br><br><input id="stulogin" class="loginbtn" type="submit" value="Log in" formaction="/stu_homepage">
				<input id="proflogin" class="loginbtn" type="submit" value="Log in" formaction="/professorhome">
			</form>
		</div>
	</div>

		

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/hciproj.js"></script>
</body>
</html>