<!doctype html>

<html>
<head>
	<title>Create or Browse Appointments</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/makeapt.css">

</head>

<body>
	
	<div class="container">
		{{#each apts}}
		<div class ="container">
			<p>Name: {{name}}</p>
			<p>Data: {{date}}		Time: {{time}}</p>
			<p>Reason for office hours visit: {{description}}</p>
		</div>
		{{/each}}
	</div>

	<button id="schedule" class="button" onclick="scheFunc()">schedule</button>
	<button id="join" class="button" onclick="joinFunc()">join</button>
	<button id="backstuhome" class="btn" onclick="backshFunc()">Back</button>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/stuFunc.js"></script>
	<script src="js/makeapt.js"></script>
	
</body>
</html>