<!doctype html>

<html>
<head>
	<title>STU HOME</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/stu_homepage.css">
</head>

<body>
	<h1>Hi, Student!</h1>
	<div class="appointment">
		<h2>My Appointments</h2>
			{{#each allapt}}
			<div class="information">
				<h4>{{date}}</h4>
				<h4>{{time}}</h4>
				<h4>{{professor}}</h4>
				<h4>{{location}}</h4>
			</div>
			{{/each}}
	</div>
	<div class ="buttons">
		<button id="make" class="btn" onclick="makeFunc()">Make appointments</button>
		<br><br>
		<button id="cancel" class="btn" onclick="cancelFunc()">Cancel appointments</button>
		<br><br>
		<a href="/">
				<button id="home" class="btn">Log Out</button>
			</a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>	
	<script src="js/stuFunc.js"></script>
</body>
</html>