<html>
	<head>
		<title>Create Appointment</title>
		<link rel="stylesheet" type="text/css" href="css/student_make_appt.css">
		
		<!--optimize for mobile-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

		<!--functionality-->
		

	</head>

	<body class="body">
		<h1>Create an Appointment</h1>
			
		<form id="inputName" role="form">
			<h2>Select a Date</h2>
			<div class="date" id="date">
				<select>
					<option value="w6">Thu 2/12/2015</option>
					<option value="w7">Thu 2/19/2015</option>
					<option value="w8">Thu 2/26/2015</option>
					<option value="w9">Thu 3/5/2015</option>
					<option value="w10">Thu 3/12/2015</option>
					<option value="w11">Thu 3/19/2015</option>
				</select>
			</div>
		
			<h2>Select a Time</h2>
			<div class="time" id="time">
				<select>
					<option value="1">2:00-2:15pm</option>
					<option value="2">2:15-2:30pm</option>
					<option value="3">2:30-2:45pm</option>
					<option value="4">2:45-3:00pm</option>
				</select>
			</div>
			<br><br>
			<div class="name">
				Name: 
				<input type="text" id="name" placeholder="Full Name" name="name">
			</div>
			<br>
			<div class="email">
				Email:
				<input type="text" id="email" placeholder="Email" name="name">
			</div>
			<br>
			<div class="description">
				Description:
				<br>
				<textarea rows="3" cols="40" id="description" placeholder="What is the purpose of your appointment?"></textarea>
			</div>
			<br>
			<form action="" id="typeSelect">
				Do you want this appointment to be public or private?<br><br>
				<input type="radio" name="type" value="public" checked>Public (allow other students to join your appointment)<br>
				<input type="radio" name="type" value="private">Private (have a one on one appointment)
			</form>

			<center><input type="submit" value="Submit" class="btn" id="submit"></center>
		</form>

		<div class="buttons">
			<br><br>

			<div class="nav">

				<button class="btn" id="back" onclick="backFunc()">Back</button>
				<button class="btn" id="home" onclick="homeFunc()">Home</button>
				<button class="btn" id="logout" onclick="logoutFunc()">Log Out</button>

			</div>
		</div>


	<div id="popMake" title="Made Successfully">
		<p><font face="Georgia" size="4">Your Appointment Has Been Made!</font></p>
		<h4 id="aptdate"></h4>
		<h4 id="apttime"></h4>
	</div>

	<script src="js/student_make_appt.js"></script>
	<script src="js/popup.js"></script>
	<script src="js/stuFunc.js"></script>
	</body>
</html>