body {
    background-color: #ffffff;
    /*max-width: 100%;
    max-height: 100%;*/
    color: #144567;
    overflow-x: hidden;
}

#buttons{
	position: absolute;
  padding-left: 7.3em;
  text-align: center;
}

#signin {
	/*margin-left: 100%;*/
	position: absolute;
  display: none;
  text-align: center;
}

#student {
	background: #7ab5dc;
	border-radius: 2.0625em;
	border:none;
	border: solid #144567 0.125em;
	font-family: Arial;
	font-size: 1.25em;
	padding: 0.625em 1.25em 0.625em 1.25em;
	color: #ffffff;
	/*position: relative;*/
	/*left: 70%;*/
}

#prof {
	background: #7ab5dc;
	border-radius: 2.0625em;
	border:none;
	border: solid #144567 0.125em;
	font-family: Arial;
	font-size: 1.25em;
	padding: 0.625em 1.25em 0.625em 1.25em;
	color: #ffffff;
	/*position: relative;*/
	/*left: 70%;*/
}

#back {
	/*display: none;*/
  padding-right: 19em;

}

.loginbtn {
	background: #7ab5dc;
	border-radius: 2.0625em;
	border:none;
	border: solid #144567 0.125em;
	font-family: Arial;
	padding: 0.625em 1.25em 0.625em 1.25em;
	color: #ffffff;
	display: none;
	/*position: relative;
	left:30%;*/
}

#inputs {
	height: 6.25em;
	background-color: 'seashell';
	/*display: none;*/

}

label{
    
    display: inline-block;
    float: left;
    clear: left;
    width: 8em;
    text-align: right;


}

input {
  display: inline-block;
}

form {
	color: #144567;
	
}

.bsimg {
	max-width: 100%;
	min-width: 100%;
	background-repeat: no-repeat;
	background-position: center;
  padding-top: 7.5em;
  /*padding-bottom: 7.5em;*/
  background-size: cover;
}

.smallbtn {
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  border-radius: 0.625em;
  -webkit-box-shadow: 0em 0.0625em 0.1875em #666666;
  -moz-box-shadow: 0em 0.0625em 0.1875em #666666;
  box-shadow: 0em 0.0625em 0.1875em #666666;
  font-family: Arial;
  color: #fff5ee;
  font-size: 0.8125em;
  font-color: #FFF5EE;
  background: #144567;
  padding: 0.4375em 1.25em 0.4375em 1.25em;
  text-decoration: none;
  border: solid #144567 0.125em;
  position: absolute;
}

.slidespace{
  padding-top:5em;
}

#signupcontainer {
	margin-top: 15em;
	margin-left:14em;
  margin-bottom:3em;
}

#overlay {
  visibility: hidden;
  position: absolute;
  left: 0em;
  top: 0em;
  width:100%;
  text-align:center;
  z-index: 1000;
  padding-top: 1em;
}

#overlay #infodiv {
  width:18.75em;
  margin: 11em auto;
  margin-bottom: 0em;
  background-color: #144567;
  border:0.0625em solid #000;
  padding:0.9375em;
  padding-top:0.0625em;
  text-align:center;
  color: #ffffff;
}

#closediv{
  text-align: left;
  color: #ffffff;
  margin-left:-0.625em;
}

#titleimage {
  padding-right: 0em;
  padding-left: 0em;
}