body {
    background-color: #FFF5EE;
    margin: 0px;
}

.btn {
	background: #FFF5EE;
  	border-radius: 33px;
  	border:none;
  	border: solid #A0522D 2px;
  	font-family: Arial;
  	font-size: 15px;
  	padding: 10px 15px 10px 15px;
  	color: #A0522D;
}

#appt {
  border-radius: 10px;
  background: #FAEBD7;
  border-color: #A0522D;
  padding: 10px;
  margin-bottom: 15px;
}

#empty {
  border-radius: 10px;
  background: #FAEBD7;
  border-color: #A0522D;
  padding: 10px;
  margin-bottom: 15px;
}

#header {
  border: 3px ridge #A0522d;
  box-shadow: 5px 5px 2px #888888;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
  background: inherit;
}

#myapt {
  padding-top: 70px;
}

#navbuttons {
  margin: 0.2em;
  margin-left: 15px;
}

.delete {
  color: red;
  font-size: 1.5em;
}

.drop {
  color: red;
  font-size: 1.5em;
}

#logoutlabel{
  color: #A0522d;
}

#logoutdiv{
  text-align: center;
  padding-left: 0px;
  padding-right: 15px;
}

.logouticon {
  font-size: 2em;
  color: #A0522d;
}

