body {
    background-color: #FFF5EE;
}

.btn {
	background: #FFF5EE;
	border-radius: 33px;
	border:none;
	border: solid #A0522D 2px;
	font-family: Arial;
	font-size: 18px;
	padding: 10px 20px 10px 20px;
	color: #A0522D;
	text-align: center;
}