.body{
	
	background-color: #FFF5EE;
	font-family: Arial;
	color: #A0522D; 
    max-width: 100%; 
    max-height: 100%; 
    overflow-x: hidden; 

}

.btn{
	 
 	border:none; 
 	color: #A0522D; 
 	background: #FFF5EE; 
 	border-radius: 33px; 
 	border:none; 
 	border: solid #A0522D 2px; 
 	font-family: Arial; 
 	font-size: 15px;
 	padding: 10px 20px 10px 20px;

}

#submit{
	color: #fff5ee;
  font-size: 13px;
  font-color: #FFF5EE;
  background: #A0522D;
}

a:link{
	text-decoration: none;
	color:#A0522D; 
	}

a:visited{
	text-decoration: none;
	color:#A0522D;
}

.name{
	background: #FFF5EE; 
}