body {
    background-color: #FFF5EE;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
  border-color: #A0522d;
}

h3 {
  color: #A0522d;
}

#calendar{
	background-color: #FFF5EE;
}

.fc-left h2{
	font-size: 1.7em;
}

#joinbtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #fff5ee;
  font-size: 11px;
  background: #A0522D;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
}

#public-appt {
  height: 200px;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid;
  padding-left: 0px;
  padding-right: 0px;
  border-color: #A0522D;
  margin-left: 5px;
  margin-right: 13px;
  overflow-y: auto;
  overflow-x: hidden;
}

#appt {
  border: 1px solid;
  border-color: #A0522D;
}

#desc {
  margin-left:2em
}

#labels {
  padding-right: 0px;
}

.backbtn {
  background: #FFF5EE;
  border-radius: 33px;
  border:none;
  border: solid #A0522D 2px;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  color: #A0522D;
  position: relative;
}

#joined {
  display: none;
}