body {
    background-color: #FFF5EE;
}

#apt-background{
	background-color: #800080;
}

#namedate{
	background-color: #8B4513;
}

#calendar{
	background-color: #FFF5EE;
}

.fc-left h2{
	font-size: 1.7em;
}

#joinbtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #fff5ee;
  font-size: 11px;
  background: #A0522D;
  padding: 7px 13px 7px 13px;
  text-decoration: none;
}