body {
  background-color: #ffffff;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
  border-color: #144567;
}

#pubappttitle {
  color: #144567;
}

#scroll {
  padding-bottom: 3em;
}

p {
  margin: 0 0 5px;
  margin-top: 5px;
}

#header {
  box-shadow: 5px 5px 2px #888888;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 10;
  background: #144567;
}

#public-appt{
  padding-top: 110px;
}

.smallbtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #fff5ee;
  font-size: 13px;
  font-color: #FFF5EE;
  background: #144567;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
  border: solid #144567 2px;
  position: relative;
}

#appt {
  border-radius: 10px;
  background: #7ab5dc;
  border-color: #7ab5dc;
  padding: 10px;
  margin-bottom: 15px;
  color: #ffffff;
}

#desc {
  margin-left:2em
}

#labels {
  padding-right: 0px;
}

.btn {
  background: #7ab5dc;
  border-radius: 33px;
  border:none;
  border: solid #7ab5dc 2px;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  color: #ffffff;
  margin-top: 5px;
}

#joined {
  display: none;
}

#dropdowndiv {
  margin-top: 1.2em;
  display: none;
  background: #ffffff;
  border: 3px ridge #144567;
  border-top-style: none;
  box-shadow: 5px 5px 2px #888888;
  color: #144567;
  z-index: 5;
  overflow-y: scroll;
}

#navbuttons {
  margin: 0.2em;
  margin-left: 15px;
}

textarea {
  resize: none;
}

#radiobtns {
  padding-left: 2em;
}

#logoutlabel{
  color: #ffffff;
}

#logoutdiv{
  text-align: center;
  padding-left: 0px;
  padding-right: 15px;
}

.logouticon {
  font-size: 2em;
  color: #ffffff;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     padding-top:1em;
}

#overlay #infodiv {
     width:300px;
     margin: 90px auto;
     background-color: #144567;
     border:1px solid #000;
     padding:15px;
     padding-top:1px;
     text-align:center;
     color: #ffffff;
}

#closediv{
  text-align: left;
  color: #fff5ee;
  margin-left:-10px;
}

#submitoverlay {
     visibility: hidden;

     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     padding-top:1em;

}

#submitoverlay #submitdiv {
    
     width:300px;
     margin: 90px auto;
     background-color: #144567;
     border:1px solid #000;
     padding:15px;
     padding-top:1px;
     text-align:center;
     color: #ffffff;
}