body {
    background-color: #FFF5EE;
}

a:link, a:visited, a:active, a:hover{
  text-decoration: none;
  color: #A0522d;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
  border-color: #A0522d; 
}

h3 {
  color: #A0522d;
}

#header {
  border: 3px ridge #A0522d;
  box-shadow: 5px 5px 2px #888888;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 10;
  background: inherit;
}

#public-appt{
  padding-top: 110px;
}

#calendar{
	background-color: #FFF5EE;
}

.fc-left h2{
	font-size: 1.7em;
}

.smallbtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #fff5ee;
  font-size: 13px;
  font-color: #FFF5EE;
  background: #A0522D;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
  border: solid #A0522D 2px;
  position: relative;
}

#appt {
  border-radius: 10px;
  background: #FAEBD7;
  border-color: #A0522D;
  padding: 10px;
  margin-bottom: 15px;
}

#desc {
  margin-left:2em
}

#labels {
  padding-right: 0px;
}

.btn {
  background: #FFF5EE;
  border-radius: 33px;
  border:none;
  border: solid #A0522D 2px;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  color: #A0522D;
}

#joined {
  display: none;
}

#dropdowndiv {
  margin-top: 1.2em;
  display: none;
  background: #FFF5EE;
  border: 3px ridge #A0522d;
  border-top-style: none;
  box-shadow: 5px 5px 2px #888888;
  color: #A0522d;
  z-index: 5;
}

#calinfo{
  background: #FFF5EE;
  padding-bottom: 10px;
}

.fc-title {
  word-wrap: break-word;
}

#navbuttons {
  margin: 0.2em;
  margin-left: 15px;
}

textarea {
  resize: none;
}

#radiobtns {
  padding-left: 2em;
}

#logoutlabel{
  color: #A0522d;
}

#logoutdiv{
  text-align: center;
  padding-left: 0px;
  padding-right: 15px;
}

.logouticon {
  font-size: 2em;
  color: #A0522d;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     padding-top:1em;
}

#overlay #infodiv {
     width:300px;
     margin: 90px auto;
     background-color: #A0522D;
     border:1px solid #000;
     padding:15px;
     padding-top:1px;
     text-align:center;
     color: #fff5ee;
}

#closediv{
  text-align: left;
  color: #fff5ee;
  margin-left:-10px;
}

#submitoverlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     padding-top:1em;
}

#submitoverlay #submitdiv {
     width:300px;
     margin: 90px auto;
     background-color: #A0522D;
     border:1px solid #000;
     padding:15px;
     padding-top:1px;
     text-align:center;
     color: #fff5ee;
}